{% extends "dashboard/base.html" %}
{% load static %}


<html lang="fr">
{% include "dashboard/head.html" %}

  <body>
   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">

      <!-- Header -->
      {% include "dashboard/header.html" %}
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
            {% include "dashboard/sidebar.html" %}
         <!-- End Sidebar -->
         {% block content %}
         <!-- Main Content -->
         
            <div class="container-fluid">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="pt-2 mb-4">Listes de Personnels</h4>
                        <!-- Product Grid -->
                        <div class="product-grid pt-2">
                            <div class="row">
                              {% for p in listepersonnelle %}
                              <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                 <!-- Product Grid Item -->
                                 <div class="product-grid-item mb-30">
                                     <div class="product-img mb-3">
                                          <a href="{% url 'dashboard:detailadmin' %}">
                                             <img src="{% static 'dashboard/assets/img/product/pg1.png' %}" class="w-100" alt="">
                                          </a>
                                     </div>
                                     <div class="product-content">
                                         <h6 class="mb-10">{{p.username}}</h6>
                                          <a href="product-details.html">
                                             <p class="black">{{p.role}}</p>
                                          </a>
                                     </div>
                                 </div>
                                 <!-- End Product Grid Item -->
                             </div>
                              {% endfor %}
                                
                                
                                <!--<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                   
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg7.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Tate Swivel Chair with Metal</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg8.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Ruben Balcony Bench And Table</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg9.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Carson Large Storage Credenza</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg10.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Tierman Swivel Chair with Metal</p>
                                          </a>
                                       </div>
                                    </div>
                                   
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg11.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Windham TV Stand</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg12.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Nespresso Vertuo Coffee</p>
                                          </a>
                                       </div>
                                    </div>
                                   
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                   
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                       <a href="product-details.html">
                                          <img src="{% static 'dashboard/assets/img/product/pg13.png' %}" class="w-100" alt="">
                                       </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Jewel Round Coffee & Side Table</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg14.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">SetLily Rattan Arm Chair</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg15.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">3pc Outdoor Set - Grey/Grey</p>
                                          </a>
                                       </div>
                                    </div>
                                  
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                  
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg16.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Left Arm Patio Loveseat</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg17.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Felton Tufted Sofa - Gray</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                                    
                                    <div class="product-grid-item mb-30">
                                       <div class="product-img mb-3">
                                          <a href="product-details.html">
                                             <img src="{% static 'dashboard/assets/img/product/pg1.png' %}" class="w-100" alt="">
                                          </a>
                                       </div>
                                       <div class="product-content">
                                          <h6 class="mb-10">$24</h6>
                                          <a href="product-details.html">
                                             <p class="black">Trellis Elevated Fretwork</p>
                                          </a>
                                       </div>
                                    </div>
                                    
                                </div>
                                <div class="col-xl-12">
                                    <!-- Pagination -->
                                    <div class="pagination d-flex flex-column align-items-center mb-10">
                                       <ul class="list-inline d-inline-flex align-items-center mb-2">
                                          <li><a href="#">
                                             <img src="{% static 'dashboard/assets/img/svg/left-angle.svg' %}" alt="" class="svg">
                                          </a></li>
                                          <li class="current"><span class="current">2</span></li>
                                          <li><a href="#">
                                             <img src="{% static 'dashboard/assets/img/svg/right-angle.svg' %}" alt="" class="svg">
                                          </a></li>
                                       </ul>
                                       <p class="font-12">Showing 20 items of 124</p>
                                    </div>
                                    <!-- End Pagination -->
                                </div>-->
                            </div>
                        </div>
                        <!-- End Product Grid -->
                    </div>
                </div>
                <!-- End Card -->
            </div>

         <!-- End Main Content -->
                     <!-- End Main Content -->
         {% endblock content %}

      </div>
      <!-- End Main Wrapper -->

      <!-- Footer -->
      {% include "dashboard/footer.html" %}
      <!-- End Footer -->
   </div>
   <!-- End wrapper -->

   <!--Scripts-->
   {% include "dashboard/scripts.html" %}
   <!--Scripts-->
</body>

</html>