<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secure</title>
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">Secure Page</div>
            <div class="card-body">
                <div class="text-center"> 
                    <p>Logging in as: {{ user.get_username }}</p>
                    <p><a href="{% url 'utilisateur:unsecure' %}">Go To Unsecure Page</a>.</p>
                    <p><a href="{% url 'utilisateur:logout' %}">Logout</a>.</p>
                </div>            
            </div>
        </div>
    </div>
    </div>
</body>
</html>