{% extends 'vitrine/base.html' %} {% load static %} {% block title %} Admissions
{% endblock %} {% block content %}
<div
  class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
  style="background-image: url('{% static 'vitrine/images/bg_1.jpg' %}')"
>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0">Courses</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
  </div>
</div>

<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="{% url 'vitrine:index' %}">Home</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <a href="{% url 'vitrine:cours' %}">Cours</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">Cours single</span>
  </div>
</div>

<div class="container">
  <h1 class="text-center">Titre</h1>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
  <p class="text-justify">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <p class="text-justify">
    Voluptas numquam enim doloremque iste vero quam inventore ea facere
    voluptates, deleniti voluptatem quis fuga, molestiae beatae cupiditate
    libero soluta blanditiis natus!
  </p>
  <p class="text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus
    dolorum voluptatum ratione ex nisi, quae neque architecto magnam maiores
    expedita cumque. Aspernatur a saepe sunt excepturi officiis corporis
    recusandae.
  </p>
</div>

{% endblock %}
