{% load static %}
<link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" href="{% static 'vitrine/fonts/icomoon/style.css' %}">

<link rel="stylesheet" href="{% static 'vitrine/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vitrine/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'vitrine/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'vitrine/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'vitrine/css/owl.theme.default.min.css' %}">

<link rel="stylesheet" href="{% static 'vitrine/css/jquery.fancybox.min.css' %}">

<link rel="stylesheet" href="{% static 'vitrine/css/bootstrap-datepicker.css' %}">

<link rel="stylesheet" href="{% static 'vitrine/fonts/flaticon/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'vitrine/css/aos.css' %}">
<link href="{% static 'vitrine/css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="{% static 'vitrine/css/style.css' %}">