{% extends 'vitrine/base.html' %} {% load static %} {% block title %} Formateurs
{% endblock %} {% block content %}
<div
  class="site-section ftco-subscribe-1 site-blocks-cover pb-4"
  style="background-image: url('{% static 'vitrine/images/bg_1.jpg' %}')"
>
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0">Formateurs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
      </div>
    </div>
  </div>
</div>

<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="{% url 'vitrine:index' %}">Home</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">Formateurs</span>
  </div>
</div>

  <figure class="swing">
    <img
      src="{% static 'vitrine/images/person_4.jpg' %}"
      width="300"
      height="300"
      alt=""
    />
  </figure>
  <figure class="swing">
    <img
      src="{% static 'vitrine/images/person_3.jpg' %}"
      width="300"
      height="300"
      alt=""
    />
  </figure>
  <figure class="swing">
    <img
      src="{% static 'vitrine/images/person_1.jpg' %}"
      width="300"
      height="300"
      alt=""
    />
  </figure>
  <figure class="swing">
    <img
      src="{% static 'vitrine/images/bg_1.jpg' %}"
      width="300"
      height="300"
      alt=""
    />
  </figure>
  <figure class="swing">
    <img
      src="{% static 'vitrine/images/person_2.jpg' %}"
      width="300"
      height="300"
      alt=""
    />
  </figure>


{% endblock %}
