{% load static %}
<div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-4 mb-5">
          <h2 class="section-title-underline mb-5">
            <span>Pourquoi la Formation Professionnelle</span>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">

          <div class="feature-1 border">
            <div class="icon-wrapper bg-primary">
              <span class="flaticon-mortarboard text-white"></span>
            </div>
            <div class="feature-1-content">
              <h2>Personnaliser l'apprentissage</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="feature-1 border">
            <div class="icon-wrapper bg-primary">
              <span class="flaticon-school-material text-white"></span>
            </div>
            <div class="feature-1-content">
              <h2>Cours de confiance</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
          <div class="feature-1 border">
            <div class="icon-wrapper bg-primary">
              <span class="flaticon-library text-white"></span>
            </div>
            <div class="feature-1-content">
              <h2>Outils pour les apprentis</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit morbi hendrerit elit</p>
              <p><a href="#" class="btn btn-primary px-4 rounded-0">Learn More</a></p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="site-section">
    <div class="container">


      <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-6 mb-5">
          <h2 class="section-title-underline mb-3">
            <span>Formations Populaires</span>
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, id?</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
            <div class="owl-slide-3 owl-carousel">
                <div class="course-1-item">
                  <figure class="thumnail">
                    <a href="course-single.html"><img src="{% static 'vitrine/images/course_1.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Mobile Application</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>
    
                <div class="course-1-item">
                  <figure class="thumnail">
                    <a href="course-single.html"><img src="{% static 'vitrine/images/course_2.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Web Design</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>
    
                <div class="course-1-item">
                  <figure class="thumnail">
                    <a href="course-single.html"><img src="{% static 'vitrine/images/course_3.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Arithmetic</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="courses-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>

                <div class="course-1-item">
                  <figure class="thumnail">
                      <a href="course-single.html"><img src="{% static 'vitrine/images/course_4.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Mobile Application</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>
    
                <div class="course-1-item">
                  <figure class="thumnail">
                      <a href="course-single.html"><img src="{% static 'vitrine/images/course_5.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Web Design</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>
    
                <div class="course-1-item">
                  <figure class="thumnail">
                      <a href="course-single.html"><img src="{% static 'vitrine/images/course_6.jpg' %}" alt="Image" class="img-fluid"></a>
                    <div class="price">$99.00</div>
                    <div class="category"><h3>Mobile Application</h3></div>  
                  </figure>
                  <div class="course-1-content pb-4">
                    <h2>How To Create Mobile Apps Using Ionic</h2>
                    <div class="rating text-center mb-3">
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                      <span class="icon-star2 text-warning"></span>
                    </div>
                    <p class="desc mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusantium ipsam.</p>
                    <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                  </div>
                </div>
    
            </div>
    
        </div>
      </div>
    </div>
  </div>