{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Formation &mdash; Proffessionnelle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% include 'vitrine/css.html' %}

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  <div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

      <!-- surnav-->
      {% include "vitrine/surnav.html" %}
      <!-- surnav-->
      <!--header-->
        {% include "vitrine/header.html" %}
      <!--header-->

      <!--scrouler-->
      {% include "vitrine/scrouler.html" %}
      <!--scrouler-->
    
    <div></div>

    <!--pourqoi la formation Pro-->
    {% include "vitrine/formation.html" %}
    <!--pourqoi la formation Pro-->

    <!--about-->
    {% include "vitrine/about.html" %}
    <!--about-->

    <!-- // 05 - Block -->
    <!--Témoignages-->
    {% include "vitrine/temoignages.html" %}
    <!--Témoignages-->
    

    <!--presentation-->
    {% include "vitrine/presentation.html" %}
    <!--presentation-->
    
    <div class="news-updates">
      <div class="container">
         
        <!--news-->
        {% include "vitrine/news.html" %}
        <!--news-->
      </div>
    </div>

    <!--abonnez vous-->
    {% include "vitrine/abonnezvous.html" %}
    <!--abonnez vous-->


    <!--footer-->
    {% include "vitrine/footer.html" %}
    <!--footer-->
    

  </div>
  <!-- .site-wrap -->


  <!-- loader
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78"/></svg></div> -->

  {% include 'vitrine/js.html' %}

</body>

</html>