{% load static %}
<div class="site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-4">
          <h2 class="section-title-underline">
            <span>Témoignages</span>
          </h2>
        </div>
      </div>


      <div class="owl-slide owl-carousel">

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_1.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>DRH DEMCO</span>
            </div>
          </div>
          <div>
            <p>&ldquo;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!&rdquo;</p>
          </div>
        </div>

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_2.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>Gérant St DOUX FIL</span>
            </div>
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
          </div>
        </div>

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_4.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>Chef de Chantier en electricite</span>
            </div>
          </div>
          <div>
            <p>&ldquo;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!&rdquo;</p>
          </div>
        </div>

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_3.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>Directeur de Societe</span>
            </div>
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
          </div>
        </div>

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_2.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>Apprenti</span>
            </div>
          </div>
          <div>
            <p>&ldquo;Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!&rdquo;</p>
          </div>
        </div>

        <div class="ftco-testimonial-1">
          <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
            <img src="{% static 'vitrine/images/person_4.jpg' %}" alt="Image" class="img-fluid mr-3">
            <div>
              <h3>Allison Holmes</h3>
              <span>Cooperation</span>
            </div>
          </div>
          <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, mollitia. Possimus mollitia nobis libero quidem aut tempore dolore iure maiores, perferendis, provident numquam illum nisi amet necessitatibus. A, provident aperiam!</p>
          </div>
        </div>

      </div>
      
    </div>
  </div>