{% load static %}
<!DOCTYPE html>
<html lang="fr">
{% include "dashboard/head.html" %}

  <body>
   <!-- Offcanval Overlay -->
   <div class="offcanvas-overlay"></div>
   <!-- Offcanval Overlay -->

   <!-- Wrapper -->
   <div class="wrapper">

      <!-- Header -->
      {% include "dashboard/header.html" %}
      <!-- End Header -->

      <!-- Main Wrapper -->
      <div class="main-wrapper">
         <!-- Sidebar -->
            {% include "dashboard/sidebar.html" %}
         <!-- End Sidebar -->

         <!-- Main Content -->
            {% block content %}
            
            {% endblock content %}
         <!-- End Main Content -->
      </div>
      <!-- End Main Wrapper -->

      <!-- Footer -->
      {% include "dashboard/footer.html" %}
      <!-- End Footer -->
   </div>
   <!-- End wrapper -->

   <!--Scripts-->
   {% include "dashboard/scripts.html" %}
   <!--Scripts-->
</body>

</html>
  </body>
</html>
