{% extends 'dashboard/profile.html' %}
{% load static %}
{% block profilecontent %}
  <div class="row mb-n4">
    <div class="col-12">
      <!-- Contact Header -->
      <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
        <div class="contact-header-left media-body d-flex align-items-center w-100 mr-sm-4">
          <!-- Add New Contact Btn -->
          <div class="add-new-contact ml-20">
            <a href="#" class="btn-circle" data-toggle="modal" data-target="#contactAddModal"><img src="{% static 'dashboard/assets/img/svg/plus_white.svg' %}" alt="" class="svg" /></a>
          </div>
          <!-- End Add New Contact Btn -->

          <!-- Search Form -->
          <form action="#" class="search-form flex-grow">
            <div class="theme-input-group style--two">
              <input type="text" class="theme-input-style" placeholder="Search Here" />

              <button type="submit"><img src="{% static 'dashboard/assets/img/svg/search-icon.svg' %}" alt="" class="svg" /></button>
            </div>
          </form>
          <!-- End Search Form -->
        </div>

        <div class="contact-header-right d-flex align-items-center justify-content-end mt-3 mt-sm-0">
          <!-- Starred -->
          <div class="star">
            <a href="#"><img src="{% static 'dashboard/assets/img/svg/star.svg' %}" alt="" class="svg" /></a>
          </div>
          <!-- End Starred -->

          <!-- Delete Mail -->
          <div class="delete_mail">
            <a href="#"><img src="{% static 'dashboard/assets/img/svg/delete.svg' %}" alt="" class="svg" /></a>
          </div>
          <!-- End Delete Mail -->

          <!-- Pagination -->
          <div class="pagination style--two d-flex flex-column align-items-center ml-n2">
            <ul class="list-inline d-inline-flex align-items-center">
              <li>
                <a href="#"><img src="{% static 'dashboard/assets/img/svg/left-angle.svg' %}" alt="" class="svg" /></a>
              </li>
              <li>
                <a href="#" class="current"><img src="{% static 'dashboard/assets/img/svg/right-angle.svg' %}" alt="" class="svg" /></a>
              </li>
            </ul>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
      <!-- End Contact Header -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m12.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Jodi Alvarez</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m18.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Marvin Butler</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m11.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Evan Mcbride</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m20.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Grant Gibbs</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m25.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Phil Bush</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m9.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Ana Quinn</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m26.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Vera Cox</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m2.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Delia Holmes</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m21.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Terrance Matews</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>

    <div class="col-xl-2 col-md-4 col-sm-6">
      <!-- Contact -->
      <div class="contact-box mb-30">
        <div class="contact-head">
          <div class="d-flex align-items-center">
            <div class="avatar img-50 ml-2">
              <img src="{% static 'dashboard/assets/img/avatar/m3.png' %}" alt="" />
            </div>
            <div class="content pl-1">
              <h4 class="c2 mb-1">Frances Owen</h4>
              <p>UX Researcher</p>
            </div>
          </div>

          <div class="dropdown-button">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              <div class="menu-icon style--two mr-0">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </a>
            <div class="dropdown-menu">
              <a href="#" data-toggle="modal" data-target="#contactEditModal">Edit</a>
              <a href="#" class="contact-close">Delete</a>
            </div>
          </div>
        </div>
        <div class="contact-body">
          <a href="mailto:yourname@email.com">yourname@email.com</a>
          <a href="tel:+026544464698">+02 654 446 4698</a>
          <p>712 Clarkson Ave Brooklyn, NY 11203, USA</p>
        </div>
      </div>
      <!-- End Contact -->
    </div>
  </div>
{% endblock %}
